  <!-- Resources -->
  <h2>Recursos</h2>
  <p>Elige una de las opciones:</p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <i class="material-icons md-dark">play_arrow</i>&nbsp;
      <span>Examen de Prueba</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
    <a class="card"  rel="noopener" [routerLink]="['/random']" routerLinkActive="active" >
      <i class="material-icons md-dark">repeat</i>&nbsp;
      <span>Preguntas al Azar</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
      <i class="material-icons md-dark">search</i>&nbsp;
      <span>Revisar Preguntas</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  </div>

  
